.message {
  padding-block: clamp(3rem, 12vh, 8rem) 3rem;
  max-width: 50rem;
  margin-inline: auto;
  text-align: center;
}

.message h1 {
  font-size: 3rem;
  color: var(--clr-orange-500, orange);
}

.message h2 {
  padding-bottom: 2rem;
}

.message p {
  padding-block: 1rem;
}

.message p,
.message img {
  margin-inline: auto;
}

.message a {
  text-decoration: underline;
}
